<div class="container">
  <div class="background-image">
    <mat-card class="card">
      <div class="overlay">
        <mat-card-content>
          <h1>Ingrese el dominio que quiere revisar</h1>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>El dominio</mat-label>
            <input matInput placeholder="udla.edu.ec" [(ngModel)]="domain">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="onSubmit()">Ingresar</button>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
