.demo-table-container
  overflow-x: auto
  margin-bottom: 20px
  .mat-table
    width: 100%
    table-layout: fixed // Asegura que las columnas tomen todo el espacio disponible de manera uniforme

  th.mat-header-cell
    background-color: #007BFF
    color: white
    font-weight: bold
    text-align: center // Para centrar horizontalmente el contenido
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
    padding: 0 16px
    box-sizing: border-box // Asegura que el padding se incluya en el tamaño total de la celda

  td.mat-cell
    min-width: 150px // Ajusta el valor según el ancho mínimo deseado
    white-space: nowrap
    text-align: center // Para centrar horizontalmente el contenido
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
    padding: 0 16px
    box-sizing: border-box // Asegura que el padding se incluya en el tamaño total de la celda

.padding
  padding: 10px

.mat-form-field
  width: 100%

button.mat-raised-button
  margin: 10px 0

.mat-paginator
  margin-top: 10px

input
  height: 1.5rem
  border-radius: 5px
  border-color: gray
  height: 100%

.mat-select-panel
  background-color: white
  color: black

.mat-option
  color: black

.mat-input-element
  color: black

.mat-select
  min-width: 140px
  background-color: #f1f1f1
  border-radius: 4px
  padding: 0 10px
  .mat-select-arrow
    color: #007BFF
  .mat-select-value
    padding: 10px 0

.mat-input-element
  background-color: #6f6f6f
  border-radius: 4px
  padding: 10px


button
  padding: 10px
  margin: 10px


th, td
  table-layout: fixed
