.demo-table-container
  overflow-x: auto
  margin-bottom: 20px

  .mat-table
    width: 100%
    .mat-header-cell, .mat-cell
      min-width: 150px // Ajusta el valor según el ancho mínimo deseado
      min-height: 50px // Ajusta el valor según el alto mínimo deseado
      white-space: nowrap
      display: flex
      align-items: center // Para centrar verticalmente el contenido

  .mat-header-cell
    background-color: #007BFF
    color: white
    font-weight: bold

  .mat-cell
    white-space: nowrap

.padding
  padding: 10px

.mat-form-field
  width: 100%

button.mat-raised-button
  margin: 10px 0

.mat-paginator
  margin-top: 10px

input
  height: 1.5rem
  border-radius: 5px
  border-color: gray
  height: 100%

.mat-header-cell
  background-color: blue

.mat-select-panel
  background-color: white
  color: black

.mat-option
  color: black

.mat-input-element
  color: black

.mat-select
  background-color: #f1f1f1
  border-radius: 4px
  padding: 0 10px
  .mat-select-arrow
    color: #007BFF
  .mat-select-value
    padding: 10px 0

.mat-input-element
  background-color: #f1f1f1
  border-radius: 4px
  padding: 10px
